
<div class="container container-fluid">
  <div style="height: 40px;">
    <div class="header-item">
      <h1 id="titel">Länsimetro</h1>
    </div>
    <div class="header-item">
      <img id="logo" src="../../assets/images/briefly_logo.png" />
    </div>
  </div>
  <section id="cd-timeline" class="cd-container cssanimations">
    <div id="1" class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture">
      </div>
      <div class="cd-timeline-content">
        <h2>Metroliikenne pysähtyi hetkeksi länsimetron ensimmäisenä päivänä</h2>
        <p>Metroliikenne pysähtyi hetkeksi länsimetron ensimmäisenä päivänä – tungos Rautatieasemalla alkoi heti. Vika ei ilmeisesti liittynyt länsimetron käyttöönottoon.</p>
        <span class="cd-date">Lauantai, 18. marraskuuta 2017</span>
      </div>
    </div>
    <div id="2"class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture">
      </div>
      <div class="cd-timeline-content">
        <h2>Länsimetro aukeaa</h2>
        <p>Länsimetro aukeaa matkustajille ensi viikon lauantaina 18. marraskuuta</p>
        <span class="cd-date">Torstai, 9. marraskuuta 2017</span>
      </div>
    </div>
    <div id="3" class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture">
      </div>
      <div class="cd-timeline-content">
        <h2>Länsimetron testauksessa merkkipaalu</h2>
        <p>Länsimetron testauksessa saavutettiin vihdoin merkittävä merkkipaalu: kahden viikon häiriötön jakso nyt ohi</p>
        <span class="cd-date">Maanantai, 31. lokakuuta 2017</span>
      </div>
    </div>
    <div id="4" class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture">
      </div>
      <div class="cd-timeline-content">
        <h2>Länsimetrossa sähkövika</h2>
        <p>Länsimetroa riivaa nyt vakava sähkövika, jonka syytä ei tiedä kukaan – koeajoa varten on tehty ”purkkaviritys”, aloitus voi viivästyä viikkoja</p>
        <span class="cd-date">Tiistai, 26. syyskuuta 2017</span>
      </div>
    </div>
    <div id="5" class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture">
      </div>
      <div class="cd-timeline-content">
        <h2>Metrojunat jatkavat kulkuaan länsimetron radalle torstaista lähtien</h2>
        <p>Historiallinen hetki: Metrojunat jatkavat kulkuaan länsimetron radalle torstaista lähtien – matkustajien kuitenkin poistuttava viimeistään Ruoholahdessa. Kyse on nyt ensimmäisestä normaalia liikennöintiaikataulua noudattavasta koeajosta koko metrolinjalla.</p>
        <span class="cd-date">Keskiviikko, 13. syyskuuta 2017</span>
      </div>
    </div>
  </section>
</div>
